/.bash_history
/.bash_logout
/.bashrc
/.cache
/.dotnet
/.gitconfig
/.local
/.motd_shown
/.profile
/.python_history
/.sudo_as_admin_successful
/.vscode-remote-containers
/.vscode-server
/.wget-hsts
/arquivos python
/missao_espacial.py
/Álvaro Mendes Abbade_Ag3_DS_I
pesquisa/alvaro_mendes_abbade_Ag8_DS_I.py
teste.py
.vscode/settings.json
.gitignore
